body {
    background: url("images/demonslayerbg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: whitesmoke;
}
li a {
    color: whitesmoke;
    text-decoration: none;
}